### **JUMLAH DATA**
Menampilkan masing-masing dataset yaitu tourism_with_id.csv dan tourism_rating.csv menggunakan library pandas dari format .csv menjadi dataframe.

In [1]:
# Menggunakan Library Pandas dari format .csf menjadi dataframe
import pandas as pd

# Import File
places = pd.read_csv('/content/drive/MyDrive/BANGTOR/archive/tourism_with_id.csv')
ratings = pd.read_csv('/content/drive/MyDrive/BANGTOR/archive/tourism_rating.csv')

#Print Jumlah Places dan Rating
print('Jumlah places: ', len(places.Place_Id.unique()))
print('Jumlah ratings: ', len(ratings.Place_Ratings))

Jumlah places:  437
Jumlah ratings:  10000

In [2]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [3]:
#Pengecekan informasi variabel dari dataset places berupa jumlah kolom, nama kolom, jumlah data per kolom dan tipe datanya.
places.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Place_Id      437 non-null    int64
 1   Place_Name    437 non-null    object
 2   Description   437 non-null    object
 3   Category      437 non-null    object
 4   City          437 non-null    object
 5   Price         437 non-null    int64
 6   Rating        437 non-null    float64
 7   Time_Minutes  205 non-null    float64
 8   Coordinate    437 non-null    object
 9   Lat           437 non-null    float64
 10  Long          437 non-null    float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   437 non-null    int64
dtypes: float64(5), int64(3), object(5)
memory usage: 44.5+ KB

File ini terdiri dari 10 kolom sebagai berikut:


*   Place_Id: kolom yang menunjukkan id dari setiap tempat wisata.
*   Place_Name: kolom yang menunjukkan nama dari setiap tempat wisata.
* Description: kolom yang menunjukkan deskripsi dari setiap tempat wisata.
*   Category: kolom yang menunjukkan kategori dari setiap tempat wisata.
*   City: kolom yang menunjukkan kota dimana tempat wisata tersebut berada.
*   Price: kolom yang menunjukkan harga tiket masuk ke tempat wisata tersebut.
*   Rating: kolom yang menunjukkan rating dari setiap tempat wisata.
*  Time_Minutes:  kolom yang menunjukkan waktu yang diperlukan untuk mengunjungi tempat wisata tersebut.
*   Coordinate: kolom yang menunjukkan koordinat dari setiap tempat wisata.
*   Lat: kolom yang menunjukkan latitude dari setiap tempat wisata.
*   Long: kolom yang menunjukkan longitude dari setiap tempat wisata.

In [4]:
#Menampilkan sample Dataset
places.head()

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,Unnamed: 11,Unnamed: 12
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.175392,106.827153,NaN,1
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125,NaN,2
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000,4.6,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.125312,106.833538,NaN,3
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000,4.5,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-6.302446,106.895156,NaN,4
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000,4.5,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-6.124190,106.839134,NaN,5

In [5]:
#Pengecekan informasi variabel dari dataset ratings berupa jumlah kolom, nama kolom, jumlah data per kolom dan tipe datanya.
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   User_Id        10000 non-null  int64
 1   Place_Id       10000 non-null  int64
 2   Place_Ratings  10000 non-null  int64
dtypes: int64(3)
memory usage: 234.5 KB

File terdiri dari 3 kolom
1.   User_Id: identitas unik dari setiap pengguna.
2.   Place_Id: identitas unik dari setiap tempat wisata.
3.   Place_Ratings: penilaian atau rating yang diberikan oleh pengguna terhadap tempat wisata tertentu.

In [6]:
#Menampilkan sample dataset ratings.
ratings.head()

   User_Id  Place_Id  Place_Ratings
0        1       179              3
1        1       344              2
2        1         5              5
3        1       373              3
4        1       101              4

# **Data Preparation**
Transformasi data menjadi bentuk yang dapat diterima oleh model machine learning nanti. Proses data preparation yang dilakukan, yaitu membersihkan data missing value, dan melakukan pengecekan data duplikat.

In [7]:
# Menghapus Kolom Yang Tidak Perlu
places = places.drop(['Description', 'City', 'Price', 'Rating', 'Time_Minutes', 'Coordinate', 'Lat', 'Long', 'Unnamed: 11', 'Unnamed: 12'], axis=1)

In [8]:
# Mengecek Missing Value 
places.isnull().sum()

Place_Id      0
Place_Name    0
Category      0
dtype: int64

In [9]:
# Mengecek Missing Value di Rating
ratings.isnull().sum()

User_Id          0
Place_Id         0
Place_Ratings    0
dtype: int64

In [10]:
#Pengecekan Data Duplikat
print(f'Jumlah data places yang duplikat: {places.duplicated().sum()}')
print(f'Jumlah data rating yang duplikat: {ratings.duplicated().sum()}')

Jumlah data places yang duplikat: 0
Jumlah data rating yang duplikat: 79

In [11]:
#Hapus Data Duplikat

ratings.drop_duplicates(inplace = True)

# **Modeling**
Tahap pengembangan modeling sistem rekomendasi dilakukan untuk membangun model sistem rekomendasi yang dapat menyarankan destinasi wisata terbaik bagi pengguna tertentu berdasarkan rating atau penilaian mereka terhadap destinasi wisata. Teknik yang digunakan untuk membangun model ini adalah content-based filtering recommendation dan collaborative filtering recommendation.

## **Model Development dengan Content-based**
Penggunaan teknik content-based filtering dalam sistem rekomendasi bertujuan untuk menyarankan item yang mirip dengan item yang telah disukai pengguna di masa lalu. Teknik ini mempelajari profil minat pengguna baru berdasarkan data dari objek yang telah dinilai oleh pengguna. Dengan menyarankan item yang serupa dengan yang pernah disukai atau sedang dilihat di masa kini, algoritma ini berusaha memberikan rekomendasi yang akurat kepada pengguna. Semakin banyak informasi yang diberikan pengguna, semakin baik akurasi sistem rekomendasi.

### 1. TF-IDF Vectorizer
TF-IDF Vectorizer digunakan untuk menemukan representasi fitur yang penting dari setiap kategori destinasi wisata. Alat ini dari library scikit-learn akan mengubah nilai-nilai tersebut menjadi vektor dengan menggunakan metode fit_transform dan transform, serta melakukan pemecahan data menjadi bagian-bagian yang lebih kecil secara langsung.

In [13]:
#imports the TfidfVectorizer class from the sklearn.feature_extraction.text module. 
from sklearn.feature_extraction.text import TfidfVectorizer

# creates an instance of the TfidfVectorizer class and assigns it to the variable tf.
tf = TfidfVectorizer()

# fits the TfidfVectorizer instance (tf) to the 'Category' column of the places dataset. 
tf.fit(places['Category'])

#returns the feature names generated by the TfidfVectorizer.
tf.get_feature_names_out()

array(['alam', 'bahari', 'budaya', 'cagar', 'hiburan', 'ibadah',
       'perbelanjaan', 'pusat', 'taman', 'tempat'], dtype=object)

In [15]:
#Transformasi data tempat pada kolom category menjadi bentuk verktor matriks.
tfidf_matrix = tf.fit_transform(places['Category'])
tfidf_matrix.shape

(437, 10)

In [16]:
#Mengubah bentuk vectorizer yaitu vektor menjadi bentuk matriks.
tfidf_matrix.todense()

matrix([[0.        , 0.        , 1.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.70710678,
         0.        ],
        ...,
        [0.        , 0.        , 0.        , ..., 0.        , 0.70710678,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.70710678,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.70710678]])

In [18]:
#Scoring
pd.DataFrame(
    tfidf_matrix.todense(),
    columns=tf.get_feature_names_out(),
    index=places.Place_Name
).sample(10, axis=0)

,alam,bahari,budaya,cagar,hiburan,ibadah,perbelanjaan,pusat,taman,tempat
Place_Name,,,,,,,,,,
Rainbow Garden,0.707107,0.0,0.0,0.707107,0.000000,0.0,0.0,0.0,0.000000,0.0
Pesona Nirwana Waterpark & Cottages,0.000000,0.0,0.0,0.000000,0.707107,0.0,0.0,0.0,0.707107,0.0
Rumah Batik,0.000000,0.0,1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
Kidzania,0.000000,0.0,0.0,0.000000,0.707107,0.0,0.0,0.0,0.707107,0.0
Taman Suropati,0.000000,0.0,0.0,0.000000,0.707107,0.0,0.0,0.0,0.707107,0.0
Panama Park 825,0.000000,0.0,0.0,0.000000,0.707107,0.0,0.0,0.0,0.707107,0.0
Saung Angklung Mang Udjo,0.000000,0.0,1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
Taman Srigunting,0.000000,0.0,0.0,0.000000,0.707107,0.0,0.0,0.0,0.707107,0.0
Pantai Timang,0.000000,1.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
Puncak Kebun Buah Mangunan,0.000000,0.0,0.0,0.000000,0.707107,0.0,0.0,0.0,0.707107,0.0

### **COSINE SIMILIARITY** 
Melakukan perhitungan derajat kesamaan atau similatiry degree antar nama tempat wisata dengan teknik cosine similarity menggunakan library scikit-learn.

In [20]:
# imports the cosine_similarity function from the sklearn.metrics.pairwise module
from sklearn.metrics.pairwise import cosine_similarity

#calculates the cosine similarity between the rows of the tfidf_matrix.
cosine_sim = cosine_similarity(tfidf_matrix)
cosine_sim

array([[1., 1., 0., ..., 0., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 1., 1., 0.],
       ...,
       [0., 0., 1., ..., 1., 1., 0.],
       [0., 0., 1., ..., 1., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [21]:
#Mengubah matriks cosine similarity menjadi bentuk dataframe antar nama tempat (destinasi wisata).
cosine_sim_df = pd.DataFrame(
    cosine_sim, index=places.Place_Name, columns=places.Place_Name)
print('Shape:', cosine_sim_df.shape)

cosine_sim_df.sample(10, axis=0)

Shape: (437, 437)

Place_Name,Monumen Nasional,Kota Tua,Dunia Fantasi,Taman Mini Indonesia Indah (TMII),Atlantis Water Adventure,Taman Impian Jaya Ancol,Kebun Binatang Ragunan,Ocean Ecopark,Pelabuhan Marina,Pulau Tidung,...,Monumen Bambu Runcing Surabaya,House of Sampoerna,Atlantis Land Surabaya,Taman Hiburan Rakyat,Taman Mundu,Museum Mpu Tantular,Taman Bungkul,Taman Air Mancur Menari Kenjeran,Taman Flora Bratang Surabaya,Gereja Perawan Maria Tak Berdosa Surabaya
Place_Name,,,,,,,,,,,,,,,,,,,,,
Candi Ijo,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Pantai Sepanjang,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Taman Keputran,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
The Great Asia Africa,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
Taman Situ Lembang,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
Museum Perangko,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Kawasan Wisata Sosrowijayan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Escape Hunt,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
The World Landmarks - Merapi Park Yogyakarta,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
Curug Tilu Leuwi Opat,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# **Recomendation Testing**
Melakukan pendefinisian fungsi place_recommendations untuk menampilkan hasil rekomendasi tempat berdasarkan kesamaan kategori dari sebuah tempat.

In [40]:
#Fungsi Rekomendasi Tempat
def place_recommendations(place_name, similarity_data=cosine_sim_df, items=places[['Place_Name', 'Category']], k=10): #defines the function place_recommendations with several parameters
    index = similarity_data.loc[:,place_name].to_numpy().argpartition(range(-1, -k, -1)) # retrieves the cosine similarity values for the specified place_name from the similarity_data DataFrame.
    closest = similarity_data.columns[index[-1:-(k+2):-1]] #selects the k most similar places based on the cosine similarity values.
    closest = closest.drop(place_name, errors='ignore') #removes the place_name from the closest Series
    return pd.DataFrame(closest).merge(items).head(k) #returns a DataFrame containing the k recommended places.

In [41]:
place_name = 'Monumen Nasional' #Masukkan Nama tempat
places[places.Place_Name.eq(place_name)]

   Place_Id        Place_Name Category
0         1  Monumen Nasional   Budaya

In [42]:
place_recommendations(place_name) #Hasil Rekomendasi

                            Place_Name Category
0                    Bandros City Tour   Budaya
1             Saung Angklung Mang Udjo   Budaya
2                Museum Satria Mandala   Budaya
3                   Keraton Yogyakarta   Budaya
4  Museum Benteng Vredeburg Yogyakarta   Budaya
5                           Candi Sewu   Budaya
6              Kyotoku Floating Market   Budaya
7                  Museum Nike Ardilla   Budaya
8              Taman Budaya Yogyakarta   Budaya
9        Kampung Wisata Sosro Menduran   Budaya